<div class="container">
    <br><br>
    <h3 class="text-center"><u>Add Account</u></h3>
    <div>
        <form #customerForm="ngForm">
            <div class="form-group">
    <label><b>Enter CustomerName:</b> </label>
    <input required type="text" id="customerName" required [(ngModel)]="customer.customerName"  name="customerName" class="form-control">
</div>
<div class="form-group">
    <label><b>Enter UserName :</b></label>
    <input type="text"   id="userName" required [(ngModel)]="customer.userName" name="userName"  class="form-control">
</div>
<div class="form-group">
    <label><b>Enter ContactNumber:</b></label>
    <input type="text"   id="contactNumber" required [(ngModel)]="customer.contactNumber" pattern="[789][0-9]{9}" maxlength="10" name="contactNumber"  class="form-control">
</div>
<div class="form-group">
    <label><b>Enter AadharNumber :</b> </label>
    <input type="text"   id="aadharNumber" required [(ngModel)]="customer.aadharNumber"  pattern=[0-9]* maxlength="12" #uname="ngModel" name="aadharNumber"  class="form-control">
</div>
<div class="form-group">
    <label><b>Enter PanNumber : </b></label>
    <input type="text"   id="panNumber" required [(ngModel)]="customer.panNumber" pattern="^[A-Za-z0-9]+$" name="panNumber"  class="form-control">
</div>
<div class="form-group">
    <label><b>Enter DateOfBirth : </b></label>
    <input type="text"   id="dateOfBirth" required [(ngModel)]="customer.dateOfBirth" type="date" name="dateOfBirth"  class="form-control">
</div>
<div class="form-group">
    <label><b>Enter Gender :</b> </label>
    <input type="text"   id="gender" required [(ngModel)]="customer.gender" name="gender"  class="form-control">
</div>
<div class="form-group">
    <label><b>Enter Address:</b></label>
    <input type="text"   id="address" required [(ngModel)]="customer.address" pattern="^[A-Za-z0-9]+$" name="address"  class="form-control">
</div>
<div class="form-group">
    <label><b>Enter AccountId : </b></label>
    <input type="text"   id="accountId" required [(ngModel)]="customer.account.accountId" pattern=[0-9]*  maxlength="12" name="accountId"  class="form-control">
</div>
<div class="form-group">
    <label><b>Enter Branch : </b></label>
    <input type="text"   id="branch" required [(ngModel)]="customer.account.branch" name="branch"  class="form-control">
</div>
<div class="form-group">
    <label><b>Enter AccountType : </b></label>
    <input type="text"   id="accountType" required [(ngModel)]="customer.account.accountType" name="accountType"  class="form-control">
</div>
<div class="form-group">
    <label><b>Enter Amount :</b> </label>
    <input type="number"   id="amount" required [(ngModel)]="customer.account.amount" name="amount"  class="form-control">
</div>
<button type="submit" class="btn btn-success" (click)="AddAccount()">Submit</button>
</form>
</div>
</div>