<div class="container  col-md-6">
    <br><br>
    <nav class="navbar navbar-dark bg-dark"> 
        <a class="navbar-brand" href="#">Delete Account </a> </nav> 
    <br><br>
        <form>
            <div class="form-group">
<label>Enter AccountId :</label>
<input type="text" id="accountId" required [(ngModel)]="accountId" name="accountId"  class="form-control">
                    <br>
 <button type="submit" class="btn btn-danger" (click)="DeleteAccount()">Delete</button>
   </div>
        </form>
    </div>
    