<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<div class="container">
  <h1 align="center" class="jumbotron jumbotron-fluid">Welcome To Pecunia Bank AccountManagement
    Application</h1>
<div class="container">
    <nav class="navbar navbar-expand-sm   bg-light  navbar-dark">
      <ul class="nav nav-pills ">
      <li class="nav-item ">
        <a class="nav-link" class="btn btn-outline-secondary  btn-sm  mr-3" routerLink="ShowAccountDetails">Find</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" class="btn btn-outline-secondary btn-sm mr-3"  routerLink="AddAccount">Add Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" class="btn btn-outline-secondary btn-sm mr-3" routerLink="UpdateAccount">Update</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" class="btn btn-outline-secondary btn-sm mr-3" routerLink="DeleteAccount">Delete Account</a>
      </li>
    </ul>
    </nav>
    </div>
    <router-outlet></router-outlet>